<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="show_sql">true</property>
      
    <mapping class="timetablebd.Disciplina"/>
    <mapping class="timetablebd.Curso"/>
    <mapping class="timetablebd.Calouros"/>
    <mapping class="timetablebd.Curriculo"/>
    <mapping class="timetablebd.CreditoMinistrado"/>
    <!--<mapping class="timetablebd.DiscCurr"/>-->
    <mapping class="timetablebd.Docente"/>
    <!--<mapping class="timetablebd.Horario"/>-->
    <mapping class="timetablebd.Turma"/>
    <mapping class="timetablebd.Sala"/>
  </session-factory>
</hibernate-configuration>
